@import "tailwindcss";

@config "../tailwind.config.ts";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;

    /* fonts */
    --font-frank: "Frank Ruhl Libre", serif;
    --font-allan: "Allan", serif;
    --font-rancho: "Rancho", serif;

    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    /* emoji picker styles */
    --background-rgb: 236, 249, 221;
    --border-radius: 16px;
    --category-icon-size: 24px;
    --color-border-over: rgba(27, 78, 48, 0.2);
    --color-border: rgba(27, 78, 48, 0.1);
    --font-size: 18px;
    --rgb-accent: 39, 107, 55;
    --rgb-background: 255, 253, 244;
    --rgb-color: 27, 78, 48;
    --rgb-input: 255, 253, 244;
    --shadow: 4px 4px 12px -6px rgba(27, 78, 48, 0.3);
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --ring: 216 34% 17%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@theme {
  /* shadow */
  --shadow-card: 0 0 8px rgba(0, 0, 0, 0.25);

  /*green*/
  --color-green-50: #fffdf4;
  --color-green-100: #ecf9dd;
  --color-green-200: #276b37;
  --color-green-500: #1b4e30;
  --color-green-600: #3b6860;

  --color-black-100: #110B11;
}

.animate-fade-icon svg {
  @apply duration-500 transition-all translate-x-[0%];
}

.animate-fade-icon:hover svg {
  @apply transition-all duration-300 translate-x-[20%];
}

.animate-rotate-icon svg {
  @apply duration-500 transition-all rotate-0;
}

.animate-rotate-icon:hover svg {
  @apply transition-all duration-300 -rotate-45;
}

@layer base {
  html {
    scrollbar-gutter: stable;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground !m-0 !p-0;
  }

  button {
    cursor: pointer;
  }
}

@layer components {
  .sidebar__icons div {
    @apply cursor-pointer text-green-200 p-2 hover:text-green-100 hover:bg-green-500 transition-all duration-300;
    border-radius: 8px 8px 0 8px;

    & a {
      @apply text-current text-2xl font-rancho;
    }
  }

  .sidebar__icons-selected div {
    @apply bg-green-200 text-green-100 rounded-full;

    & a {
      @apply text-green-100;
    }
  }

  .hidden-scrollbar::-webkit-scrollbar,
  .hidden-scrollbar div::-webkit-scrollbar {
    width: 0px;
  }

  .style-scrollbar::-webkit-scrollbar,
  .style-scrollbar div::-webkit-scrollbar {
    width: 6px;
  }

  .style-scrollbar::-webkit-scrollbar-track,
  .style-scrollbar div::-webkit-scrollbar-track {
    @apply bg-green-50;
  }

  .style-scrollbar::-webkit-scrollbar-thumb,
  .style-scrollbar div::-webkit-scrollbar-thumb {
    @apply bg-green-200 rounded-md;
  }
}

@layer utilities {
  .hover-link {
    @apply after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-full after:origin-right after:scale-x-0 after:bg-green-500 after:transition-transform after:duration-700 after:ease-in-out after:content-[''] hover:after:origin-left hover:after:scale-x-100;
  }

  .animate-fade-in-slide-up {
    @apply opacity-0;
    animation: fadeInSlideUp 0.5s ease-out forwards;
  }
}

@keyframes fadeInSlideUp {
  from {
    opacity: 0;
    transform: translateY(1.5rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.9);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes tw-enter {
  from {
    opacity: var(--tw-enter-opacity, 1);
    transform: translate3d(var(--tw-enter-translate-x, 0),
        var(--tw-enter-translate-y, 0),
        0) scale3d(var(--tw-enter-scale, 1),
        var(--tw-enter-scale, 1),
        var(--tw-enter-scale, 1)) rotate(var(--tw-enter-rotate, 0));
  }
}

@keyframes tw-exit {
  to {
    opacity: var(--tw-exit-opacity, 1);
    transform: translate3d(var(--tw-exit-translate-x, 0),
        var(--tw-exit-translate-y, 0),
        0) scale3d(var(--tw-exit-scale, 1),
        var(--tw-exit-scale, 1),
        var(--tw-exit-scale, 1)) rotate(var(--tw-exit-rotate, 0));
  }
}

@keyframes tw-spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes tw-ping {

  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes tw-pulse {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

@keyframes tw-bounce {

  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes caret-blink {

  0%,
  70%,
  100% {
    opacity: 1;
  }

  20%,
  50% {
    opacity: 0;
  }
}

@layer utilities {

  .animate-in {
    animation-name: tw-enter;
    animation-duration: 150ms;
    animation-fill-mode: both;
    --tw-enter-opacity: initial;
    --tw-enter-scale: initial;
    --tw-enter-rotate: initial;
    --tw-enter-translate-x: initial;
    --tw-enter-translate-y: initial;
  }

  .animate-out {
    animation-name: tw-exit;
    animation-duration: 150ms;
    animation-fill-mode: both;
    --tw-exit-opacity: initial;
    --tw-exit-scale: initial;
    --tw-exit-rotate: initial;
    --tw-exit-translate-x: initial;
    --tw-exit-translate-y: initial;
  }

  .fade-in-0 {
    --tw-enter-opacity: 0;
  }

  .fade-out-0 {
    --tw-exit-opacity: 0;
  }

  .fade-in-80 {
    --tw-enter-opacity: 0.8;
  }

  .fade-out-80 {
    --tw-exit-opacity: 0.8;
  }

  .zoom-in-95 {
    --tw-enter-scale: 0.95;
  }

  .zoom-out-95 {
    --tw-exit-scale: 0.95;
  }

  .slide-in-from-top-2 {
    --tw-enter-translate-y: -0.5rem;
  }

  .slide-in-from-bottom-2 {
    --tw-enter-translate-y: 0.5rem;
  }

  .slide-in-from-left-2 {
    --tw-enter-translate-x: -0.5rem;
  }

  .slide-in-from-right-2 {
    --tw-enter-translate-x: 0.5rem;
  }

  .slide-in-from-top-\[48\%\] {
    --tw-enter-translate-y: -48%;
  }

  .slide-out-to-top-\[48\%\] {
    --tw-exit-translate-y: -48%;
  }

  .slide-in-from-top-full {
    --tw-enter-translate-y: -100%;
  }

  .slide-out-to-right-full {
    --tw-exit-translate-x: 100%;
  }

  .slide-in-from-bottom-full {
    --tw-enter-translate-y: 100%;
  }

  [data-state=open].duration-200,
  [data-state=closed].duration-300,
  [data-state=open].duration-500 {
    animation-duration: inherit;
  }

  .animate-spin {
    animation: tw-spin 1s linear infinite;
  }

  .animate-ping {
    animation: tw-ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  }

  .animate-pulse {
    animation: tw-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  .animate-bounce {
    animation: tw-bounce 1s infinite;
  }

  .animate-caret-blink {
    animation: caret-blink 1.25s ease-out infinite;
  }

  .animate-fadeIn {
    animation: fadeIn 0.3s ease-out forwards;
  }

  .animate-slideUp {
    animation: slideUp 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
  }

  .animate-fade-in {
    animation: fadeIn 0.4s ease-out forwards;
  }
}