/* @import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Lusitana:wght@400;700&family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Allan:wght@400;700&family=Frank+Ruhl+Libre:wght@300..900&family=Rancho&display=swap");

@import "tailwindcss";
@plugin 'tailwindcss-motion';
@plugin "tailwindcss-animate";

@config "../tailwind.config.ts";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;

    /* fonts */
    --font-frank: "Frank Ruhl Libre", serif;
    --font-allan: "Allan", serif;
    --font-rancho: "Rancho", serif;

    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    /* emoji picker styles */
    --background-rgb: 236, 249, 221;
    --border-radius: 16px;
    --category-icon-size: 24px;
    --color-border-over: rgba(27, 78, 48, 0.2);
    --color-border: rgba(27, 78, 48, 0.1);
    --font-size: 18px;
    --rgb-accent: 39, 107, 55;
    --rgb-background: 255, 253, 244;
    --rgb-color: 27, 78, 48;
    --rgb-input: 255, 253, 244;
    --shadow: 4px 4px 12px -6px rgba(27, 78, 48, 0.3);
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --ring: 216 34% 17%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@theme {
  /* shadow */
  --shadow-card: 0 0 8px rgba(0, 0, 0, 0.25);

  /*green*/
  --color-green-50: #fffdf4;
  --color-green-100: #ecf9dd;
  --color-green-200: #276b37;
  --color-green-500: #1b4e30;
  --color-green-600: #3b6860;
  /* 
  'apple': {
    '50': '#ecfce9',
    '100': '#d6f8cf',
    '200': '#aef2a4',
    '300': '#7de76f',
    '400': '#51d942',
    '500': '#2db021',
    '600': '#209818',
    '700': '#1c7417',
    '800': '#1b5c18',
    '900': '#1a4e19',
    '950': '#082b08',
}, */

  /* 
'kaitoke-green': {
    '50': '#f1fcf5',
    '100': '#dff9e8',
    '200': '#c1f1d3',
    '300': '#91e4b0',
    '400': '#59cf86',
    '500': '#33b464',
    '600': '#259450',
    '700': '#207541',
    '800': '#1e5d37',
    '900': '#1b4e30',
    '950': '#092a17',
},

*/
}

.animate-fade-icon svg {
  @apply duration-500 transition-all translate-x-[0%];
}

.animate-fade-icon:hover svg {
  @apply transition-all duration-300 translate-x-[20%];
}

.animate-rotate-icon svg {
  @apply duration-500 transition-all rotate-0;
}

.animate-rotate-icon:hover svg {
  @apply transition-all duration-300 -rotate-45;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .sidebar__icons div {
    @apply cursor-pointer text-green-200 p-2 hover:text-green-100 hover:bg-green-500 transition-all duration-300;
    border-radius: 8px 8px 0 8px;

    & a {
      @apply text-current text-2xl font-rancho;
    }
  }

  .sidebar__icons-selected div {
    @apply bg-green-200 text-green-100 rounded-full;

    & a {
      @apply text-green-100;
    }
  }

  .hidden-scrollbar::-webkit-scrollbar,
  .hidden-scrollbar div::-webkit-scrollbar {
    width: 0px;
  }

  .style-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .style-scrollbar::-webkit-scrollbar-track {
    @apply bg-green-50;
  }

  .style-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-green-200 rounded-md;
  }
}

@layer utilities {
  .hover-link {
    @apply after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-full after:origin-right after:scale-x-0 after:bg-green-500 after:transition-transform after:duration-700 after:ease-in-out after:content-[''] hover:after:origin-left hover:after:scale-x-100;
  }

  .animate-fade-in-slide-up {
    @apply opacity-0;
    animation: fadeInSlideUp 0.5s ease-out forwards;
  }
}

@keyframes fadeInSlideUp {
  from {
    opacity: 0;
    transform: translateY(1.5rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}